<div class="fl w-50">
  {{items-filter query=query onChange=(action (mut query))}}

  <ul class="list measure center">
    <button {{action 'toggleSort'}}>Sort By Name: {{nameSort}}</button>

    {{#each itemsSorted as |item|}}
      {{items-element thing=item}}
    {{else}}
      Sorry, nothing here.
    {{/each}}
  </ul>
</div>
<div class="fl w-50">
  {{outlet}}
</div>