{{items-form}} {{items-filter onChange=(action (mut query))}}

<ul class="list measure center">
  <button {{action 'toggleSort'}}>Sort By Name: {{nameSort}}</button>

  {{#each itemsSorted as |item|}}
    {{#link-to 'items.item' item}}
      {{items-element thing=item}}
    {{/link-to}}
  {{else}}
      Sorry, nothing here.
  {{/each}}
</ul>

{{outlet}}