<div class="fl w-50">
  {{items-filter}}

  <ul class="list measure center">
    <button>Sort By Name: Asc</button>
    {{items-element}}
    {{items-element}}
    {{items-element}}
    {{items-element}}
  </ul>
</div>
<div class="fl w-50">
  {{outlet}}
</div>