{{items-form}} 

{{items-filter onChange=(action (mut query))}}

<ul class="list measure center">
  <button {{action 'toggleSort'}}>Sort By Name: {{nameSort}}</button>

  {{#each itemsSorted as |item|}}
    {{items-element thing=item onClick=(action 'archive' item)}}
  {{else}}
    Sorry, nothing here.
  {{/each}}
</ul>

{{outlet}}